.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-star;
  align-items: center;
  position: absolute;
  height: 80%;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: #fff;
  background-size: 100% 1.2em;
  margin-top: 100px;
}

.header {
  order: 0;
  width: 100%;
}

.table {
  order: 1;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

thead th {
  background: #56fe99;
  color: #FFF;
  font-family: Georgia;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 3px;
  width: 6.25%;
  height: 20px;
  margin: 0px 10px;
  text-transform: capitalize;
  border-radius: .28571429rem;
}

.table-head {
  order: 0;
  width: 100%;
}

.table-body{
  order: 1;
  width: 400px;
}

tr {
  text-align: center;
  font-family: Georgia;
}

input {
  border: none;
  width: 100%;
  text-align: center;
}

.footer{
  order: 2;
  flex: 0 0 50px;
  width: 100%;
}
