<html>
  <div class="wrapper">

    <div class="header">

    </div>

    <div class="class-info">
      <table>

          <thead>
            <th>
              ID
            </th>
            <th>
              Dia
            </th>
            <th>
              Aula
            </th>
          </thead>
        <tbody>
          <tr>
            <td class="info">{{aula.id}}</td>
            <td class="info">{{aula.dia}}</td>
            <td class="info">{{aula.descricao}}</td>
          </tr>
        </tbody>

      </table>
    </div>

    <div class="students">
      <table>

          <thead>
            <th>
              ID
            </th>
            <th>
              login
            </th>
            <th>
              Faltas
            </th>
            <th>
              % Faltas
            </th>
            <th>
              Chamada
            </th>
          </thead>
        <tbody>
          <tr *ngFor="let a of alunos">
            <td class="info">{{a.id}}</td>
            <td class="info">{{a.loginCin}}</td>
            <td class="info">{{a.faltas}}</td>
            <td class="info">{{a.getAbsence(classes)}}</td>
            <td class="input"><button (click)="registrarFalta(a)">Falta</button></td>
          </tr>
        </tbody>

      </table>
    </div>

  </div>
</html>
