
<ul name= "listanaoalocados">
<li *ngFor="let a of alunosNaoAlocados">{{a}} </li>
</ul>

<table>
<tr>
   <td><label>Monitor </label></td>
   <td><input name="monitornamebox" [(ngModel)]="monitorTemp" ></td>
</tr>
<tr>
   <td><label>Aluno </label></td>
   <td><input name="alunologinbox" [(ngModel)]="alunoTemp" ></td>
</tr>
<tr>
   <td><button (click)="alocarMonitorAluno()">Alocar</button></td>
</tr>
<tr>
   <td><label>Numero Maximo de Monitores </label></td>
   <td><input [(ngModel)]="maxMonitores" (change)="setMaxMonitores(maxMonitores)" name="maxmonitorbox"></td>
</tr>
</table>

<ul name= "listamonitoraluno">
<li *ngFor="let a of allMonitorName">
<table>
<thead>
    <tr><td name="nomemonitor" >{{a}}</td></tr>
</thead>
<tr *ngIf="getAlunosAlocados(a).length > 0">
   <th>Nome do Aluno</th>
</tr>
<tr *ngFor="let b of getAlunosAlocados(a)" name="alunomonitorlist">
   <td name="loginaluno">{{b}}</td>
</tr>
</table>
</li>
</ul>