<ul name= "listanaoalocados">
<li *ngFor="let a of getAlunosNaoAlocados()">
	{{a.loginCin}} 
</li>
</ul>

<table>
<tr>
   <td><label>Monitor </label></td>
   <td><input name="monitornamebox" [(ngModel)]="monitorTemp.loginCin" (change)="atualizarAluno(a)" ></td>
</tr>
<tr>
   <td><label>Aluno </label></td>
   <td><input name="alunologinbox" [(ngModel)]="alunoTemp.loginCin" (change)="procurarAlunoNaoAlocado(alunoTemp.loginCin)" ></td>
</tr>
<tr>
   <td><button (click)="alocarMonitorAluno(monitor,aluno)">Alocar</button></td>
</tr>
<tr>
   <td><label>Numero Maximo de Monitores </label></td>
   <td><input [(ngModel)]="maxMonitores" (change)="setMaxMonitores(maxMonitores)" name="maxmonitorbox"></td>
</tr>
</table>

<ul name= "listamonitoraluno">
<li *ngFor="let a of monitores">
<table>
<thead>
    <tr><td name="nomemonitor" >{{a.nome}}</td></tr>
</thead>
<tr *ngIf="getAlunosAlocados(a).length > 0">
   <th>Nome do Aluno</th>
</tr>
<tr *ngFor="let b of getAlunosAlocados(a)" name="alunomonitorlist">
   <td name="loginaluno">{{b.loginCin}}</td>
</tr>
</table>
</li>
</ul>