.wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: #fff;
  background-size: 100% 1.2em;
}

.header {
  flex: 0 0 80px;
  order: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #56fe99;
  border-bottom: 1px solid #56fe99;
  width: 100%;
}

.content {
  order: 1;
}

.navbar {
  order: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

nav {
  margin: 30px auto;
  text-align: center;
  height: 30px;

}

nav a {
  font-family: Georgia;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  text-transform: uppercase;
  width: 120px;
  margin: 0 20px;
  background-color: #ffffff;
  color: #56fe99;
  border-radius: 5px;
  height: 100%;
  line-height: 30px;
}
nav a:hover {
  color: #e6e6e6;
  background-color: #1a8cff;
}
